// Пользовательские переменные
:root {
    --ffMain: 'Raleway', sans-serif;
    --ffSecond: 'Roboto', sans-serif;
    --tr: .3s;  // Плавность перехода
    --radius: 16px; // border-radius
}

$ffMain: var(--ffMain);
$ffSecond: var(--ffSecond);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$container: 1012px;
$radius: var(--radius);

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

// Цвета
:root {
    --main: #333333;
    --second: #717171;
    --accent: #E30524;
    --accent-hover: #E30524;
    // --accent-active: #37866E;
    // --accent2: #DC8B2D;
    // --accent2-active: #C27B29;
    --outline: #F4F4F4;
    --bg-page: #FFF;
    --bg-block: #E8E9ED;
    --error: #E83D3D;
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
// $accent-active: var(--accent-active);
// $accent2: var(--accent2);
// $accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);