// Основная кнопка
.btn {
    width: fit-content;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 16px 32px;
    background: $accent;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
        
        @media (min-width: $minHover) {
            background: $accent-hover;
        }
    }

    // &:active {
    //     background: $accent-active;
    // }
}

.btn_disabled {
    color: $second;
    background: #F8F8F8;
    pointer-events: none;
}

.btn_footer {
    font-size: 12px;
    font-weight: 500;
    color: $main;
    background: none;
    border: 1px solid $main;
    border-radius: 5px;
    padding: 6px 15px;

    &:hover {
        color: $accent;
        border-color: $accent;
        background: none;
    }
}

// Ссылки
.link {
    // text-decoration: underline;

    &:hover {
        
        @media (min-width: $minHover) {
            color: $accent-hover;
        }
    }

    // &:active {
    //     color: $accent-active;
    // }
}

.link_header {
    text-decoration: underline;
}