.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-elem {
    position: relative;
    width: 100%;
    &:not(:first-child) {
        margin: 32px 0 0 0;
    }
}

.form-elem input {
    height: 40px;
}

.form-elem textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 164px;
    transition: 0s;
    background: $bg-block;
    padding-top: 12px;
}

.form-elem__area {
    width: 100%;
    background: $bg-block;
    border-radius: 8px;
    padding: 0px 20px 0px 20px;
    transition: $tr;
    &:hover {
        background: #F4F4F4;
    }
    // &:focus {
    //     &+.form-elem__label {
    //         font-size: 10px;
    //         color: $second;
    //         transform: translate(0, calc(-50% - 9px));
    //     }
    // }
    // &:not(:placeholder-shown).form-elem__area:not(:focus) {
    //     // border: 1px solid $accent;
    //     &+.form-elem__label {
    //         font-size: 10px;
    //         color: $second;
    //         transform: translate(0, calc(-50% - 9px));
    //     }
    // }
    // &._error {
    //     border: 1px solid $error !important;
    //     &+.form-elem__label {
    //         &::after {
    //             opacity: 1;
    //         }
    //     }
    // }
}

.form-elem__label {
    position: absolute;
    top: -12px;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 10px;
    font-weight: 400;
    pointer-events: none;
    transition: $tr;
    color: $main;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &::after {
        content: 'Error';
        font-size: inherit;
        color: $error;
        margin: 0 0 0 6px;
        opacity: 0;
    }
}

.form-attach {
    cursor: pointer;
    &.form-elem {
        margin-top: 19px
    }
    svg,
    img {
        width: 23px;
        height: 18px;
        -o-object-fit: cover;
        object-fit: cover;
        margin-right: 5px;
    }
    input[type="file"] {
        opacity: 0;
        position: absolute;
        visibility: hidden;
        &+label {
            cursor: pointer;
            color: var(--accent);
            font-weight: 600;
        }
    }
}

.form-elem__required {
    position: absolute;
    top: 50%;
    right: 12px;
    display: block;
    transform: translate(0, -50%);
    font-size: 14px;
    color: $main;
    pointer-events: none;
}

#modal-anonim h2 {
    font-size: 27px;
    margin-bottom: 50px;
}