.sounds_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 306px;
    height: 72px;
    border-radius: 10px;
    background: #FBFBFB;
    padding: 0 20px;
    border: 1px solid #DEDEDE;
    &__top {
        display: flex;
        align-items: center;
        & button {
            background: #62B1E3;
            border-radius: 50%;
            padding: 0 13px;
            width: 40px;
            height: 40px;
            & img {
                width: 13px
            }
        }
    }
    & input[type="range"] {
        -webkit-appearance: none;
        outline: none;
        height: 2px;
        margin-left: 21px;
        background: #62B1E3;
        width: 100%;
    }
    &__bottom {
        display: flex;
        margin-top: 2px;
        &-download {
            position: relative;
            right: 2px;
        }
        & a {
            font-size: 12px;
        }
        & a:not(:last-child) {
            margin-right: 13px;
            color: #8c8c86;
        }
        &-like {
            display: flex;
            color: #cecece;
            font-size: 11px;
            img {
                width: 9px;
                margin-right: 5px;
            }
        }
    }
}