.best-section {
    margin-bottom: 30px;
}

.best-section__wrap {

}

.best-section__header {

}

.best-section__header-title {

}

.best-section__text {

}

.best-section__body {

}

.best-section__year-list {
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 5px;
    
    scrollbar-width: thin;
    scrollbar-color: #AFAFAF;

    &::-webkit-scrollbar {
        height: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #AFAFAF;
    }
}

.best-section__year {
    min-width: 78px;
    width: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: $tr;

    &:not(:first-child) {
        margin: 0 0 0 20px;
    }

    &:hover {

        & .best-section__year-title {
            color: $accent;
        }
    }
    
    &._active {

        & .best-section__year-title {
            color: $accent;
            font-weight: 600;
        }

        & .best-section__year-img {
            background: url(../img/awards/cup-active.png) no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }
}

.best-section__year-img {
    position: relative;
    width: 100%;
    height: 78px;
    background: url(../img/awards/cup.png) no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 50%; 
}
 
.best-section__year-title {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 16px 0 0 0;
}

.best-section__award-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
    margin: 19px 0 0 0;
}

// .best-section__award-list-wrap {
//     display: none;

//     &._active {
//     }
// }