.greeting-blog {
    &__wrap {
        display: flex;
        border: 1px solid $outline;
        border-radius: 10px;
    }
    &__photo {
        padding: 31px;
        text-align: center;
        border-right: 1px solid $outline;
        img {
            width: 177px;
            height: 177px;
            object-fit: cover;
            margin-bottom: 30px;
            border-radius: 50%;
            border: 1px solid $outline;
            padding: 7px;
        }
        button {
            background: $accent;
            padding: 9px 30px;
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            border-radius: 5px;
        }
    }
    &__text {
        padding: 31px;
        position: relative;
        h2 {
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 30px;
        }
        &-head {
            color: $second;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            margin-bottom: 15px;
            display: inline-block;
            z-index: 2;
            position: relative;
        }
        &-info {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $main;
            z-index: 2;
            position: relative;
        }
        svg {
            width: 40px;
            height: 29px;
            position: absolute;
            z-index: 1;
        }
        &-svgTop {
            left: 14px;
            top: 112px
        }
        &-svgBottom {
            right: 14px;
            bottom: 83px;
        }
    }
}

.new-appeal {
    margin-bottom: 99px;
    & h2 {
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        color: $main;
        margin-bottom: 20px;
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px 20px
    }
    &__block {
        &:hover {
            background: $background-hover;
            border: 1px solid $accent-hover;
        }
        border: 1px solid $outline;
        border-radius: 10px;
        background: $bg-page;
        padding: 15px 30px;
        transition: $tr;
        &-title {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 10px;
            color: $main;
            img,
            svg {
                margin-left: 5px;
                width: 18px;
                height: 18px;
                object-fit: cover;
            }
        }
        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $main;
            margin-bottom: 10px;
        }
        &-bottom {
            display: flex;
            justify-content: space-between;
            & a {
                text-decoration-line: underline;
                font-weight: 500;
                font-size: 14px;
                color: $accent
            }
            & span {
                font-weight: 500;
                font-size: 14px;
                color: $second
            }
        }
    }
}

.page-blogDirector .container {
    padding: 0 23px
}