.faq-section {
    margin-bottom: 30px;
}

.faq-section__wrap {

}

.faq-section__body {

}

.faq-section__list {
    // position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 400px;
}

.faq-section__card {
    // position: absolute;
    background: #fff;
    border: 1px solid $outline;
    border-radius: 10px;
    transition: $tr;

    &:not(:first-child) {
        margin: 10px 0 0 0;
    }

    &:hover {
        box-shadow: 0px 9px 25px rgba(52, 58, 74, 0.1);
        transform: translate(0, -5px);

        & .faq-section__card-header-title {
            font-weight: 700;
        }
    }

    &._show {
        box-shadow: 0px 9px 25px rgba(52, 58, 74, 0.1);
        transform: translate(0, -5px);

        & .faq-section__card-header {
            background: #E8E9ED;
        }

        & .faq-section__card-header-title {
            font-weight: 700;
        }

        & .faq-section__card-header-arrow {

            & .acc-circle {
                fill: #E8E9ED;
                // stroke: $accent;
            }

            & .acc-arrow {
                // fill: #fff;
                opacity: 0;
            }

            & .acc-cross {
                // fill: #fff; 
                opacity: 1 !important;
            }

            // &::before {
            //     width: 14px;
            //     transform: translate(-50%, 50%) rotate(-45deg);
            // }

            // &::after {
            //     width: 14px;
            //     transform: translate(-50%, 50%) rotate(45deg);
            // }
        }
    }
}

// Шапка карточки
.faq-section__card-header {
    border-radius: 10px 10px 0 0;
    cursor: pointer;

    &:hover {

        & .faq-section__card-header-arrow {

            & .acc-circle {
                fill: $accent;
                stroke: $accent;
            }

            & .acc-arrow {
                fill: #fff;
            }

            & .acc-cross {
                fill: #fff;
            }
        }
    }
}

.faq-section__card-header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 21px 14px 30px;
}

.faq-section__card-header-title {
    font-size: 18px;
    font-weight: 500;
}

.faq-section__card-header-arrow {
    width: 30px;
    height: 30px;

    & .acc-circle {
        transition: $tr;
    }

    & .acc-arrow {
        transition: $tr;
    }

    & .acc-cross {
        transition: $tr;
    }
}

.faq-section__card-header-arrow-icon {
    position: relative;
    width: 30px;
    height: 30px;

    // &::before,
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 70%;
    //     height: 1px;
    //     background: $main;
    // }

    // &::before {
    //     transform: translate(-50%, calc(100% + 1.5px)) rotate(-45deg) 
    // }

    // &::after {
    //     transform: translate(-50%, calc(-100% - 1.5px)) rotate(45deg)
    // }

    // & svg path {
    //     transition: $tr;
    // }
}

.faq-section__card-body {
    max-height: 0;
    overflow: hidden;
    transition: $tr;
}

// Аккордеон в аккордеоне
.faq-section__card-body {
    
}

.faq-section__card-acc {
    position: relative;
    margin: 0 30px;

    &:not(:last-child) {
        border-bottom: 1px solid $outline;
        
        // &::after {
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 1px;
        //     background: $outline;
        // }
    }

    &._show {

        & .faq-section__card-acc-body {
            padding: 0 0 25px 0;
        }

        & .faq-section__card-acc-header-arrow {

            & span:nth-child(2) {
                transform: translate(-100%, -50%) rotate(0);
            }
        }
    }
}

.faq-section__card-acc-header {
    padding: 25px 0;
    cursor: pointer;
}

.faq-section__card-acc-header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-section__card-acc-header-title {
    font-size: 16px;
    font-weight: 600;
}

.faq-section__card-acc-header-arrow {
    position: relative;
    width: 18px;
    height: 18px;
    display: flex;

    & span {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 18px;
        width: 18px;
        height: 1px;
        background: $main;
        margin: 0 0 0 12px;
        transition: $tr;

        &:nth-child(1) {
            transform: translate(-100%, -50%);
        }

        &:nth-child(2) {
            transform: translate(-100%, -50%) rotate(90deg);
        }
    }
}

.faq-section__card-acc-header-arrow-icon {

}

.faq-section__card-acc-body {
    max-height: 0;
    overflow: hidden;
    transition: $tr;
}

.faq-section__card-acc-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 24px;
    margin: 20px 0 0 0;
}