.rules-section {
    margin: 45px 0 0 0;
}

.rules-section__header {
    margin: 0;
}

.rules-section__body {
    margin: 5px 0 0 0;
}

.rules-section__body-text {

}

.rules-section__list {
}

.rules-section__item {

    &:not(:last-child) {
        border-bottom: 1px solid $outline;
    }

    & .doc-item__link {
        padding: 16px 0;
    }
}
